.App-main {
  height: 100vh;
  width: 100vw;
  background: rgb(19,5,164);
  background: linear-gradient(0deg, rgba(19,5,164,1) 6%, rgba(14,45,228,1) 22%, rgba(15,83,244,1) 45%, rgba(10,117,233,0.9990371148459384) 60%, rgba(47,181,235,1) 78%, rgba(237,244,243,1) 93%);
}

